input {
    width: 40%;
    display: flex;
  }

  .fondo {
    background: #E2E5EA; 
  }

  input {
    background-color: #E2E5EA; /* Color de fondo para las cajas de texto igual al del formulario */
    border: 1px solid #0f0f0f; /* borde  para mejorar la visibilidad de las cajas de texto */
  }
  
  button
{
   margin-right: 30%; 
}